[Desktop Entry]
Type=Application
Version=1.0
Name=youdao
GenericName=Markdown Note
Comment=Note-taking application for pleasant Markdown
Icon=/home/feng/dotfiles/desktop/Youdao.png
Terminal=false
Exec=/home/feng/Documents/Youdao-Note-Electron-linux-x64/Youdao-Note-Electron %F
MimeType=text/markdown;
Categories=Qt;Utility;TextEditor;Office;
